<%- include('adminPartials/adminHeader') %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.css">
    <link rel="stylesheet" href="https://unpkg.com/cropperjs/dist/cropper.css">
    <script src="https://unpkg.com/cropperjs/dist/cropper.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/javascripts/product.js"></script>


    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i
                                class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage"
                            aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="/adminassets/imgs/theme/flag-us.png"
                                    alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="/adminassets/imgs/theme/flag-fr.png"
                                    alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="/adminassets/imgs/theme/flag-jp.png"
                                    alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="/adminassets/imgs/theme/flag-cn.png"
                                    alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="/adminassets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                Settings</a>
                            <a class="dropdown-item" href="#"><i
                                    class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                                center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Products </h2>
                    <p>Add, edit or delete a product</p>
                </div>
                <!-- Button trigger modal-->

                <!-- Modal: modalAbandonedCart-->
                <div class="modal fade right" id="modalAbandonedCart" tabindex="-1" role="dialog"
                    aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
                    <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
                        <!-- Content -->
                        <div class="modal-content">
                            <!-- Header -->
                            <div class="modal-header">
                                <p class="heading">Add a new product ?</p>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="white-text">&times;</span>
                                </button>
                            </div>

                            <!-- Body -->
                            <div class="modal-body">
                                <div class="row">
                                    <form class="addproduct_form" id="productForm" action="/admin/addproduct"
                                        method="POST" enctype="multipart/form-data">

                                        <br>
                                        <h2>Add Details</h2>
                                        <input class="box" type="text" name="category" id="catInput"
                                            style="display:none">
                                        <label>Product name:</label>
                                        <input class="box" type="text" name="name" id="productName">
                                        <span id="productNameError" class="error"></span>
                                        <br><br>
                                        <label for="myTextarea">Product Description:</label>
                                        <br>
                                        <textarea name="description" id="myTextarea" rows="4" cols="50"></textarea>
                                        <br>
                                        <label>Category:</label>
                                        <br>
                                        <select class="box" name="category" id="category">
                                            <option value="" disabled>Select Category</option>
                                            <% categoryData.forEach((category)=> { %>
                                                <option value="<%= category._id %>">
                                                    <%= category.category %>
                                                </option>
                                                <% }) %>
                                        </select>


                                        <br>

                                        <label>Add cover image:</label>
                                        <br>
                                        <input class="box" type="file" name="coverImage" accept="image/jpeg, image/png"
                                            id="coverImage">
                                        <button type="button" class="btn btn-md rounded font-sm hover-up"
                                            onclick="loadImage('coverImage')">Crop</button>
                                        <img src="" id="showcoverImage"
                                            style="width: auto; height: 250px; margin-top: 20px ; display: none;"
                                            alt="">

                                        <button style="display: none;" class="btn btn-warning p-2 px-5 border-2 mt-2"
                                            type="button" id="savecoverImage"
                                            onclick="uploadCroppedImage('coverImage')">Save</button>

                                        <button style="display: none;" class="btn btn-danger p-2 px-5 border-2 mt-2"
                                            type="button" id="cancelcoverImage">Cancel</button>


                                        <span id="coverError" class="error"></span>

                                        
                                        <label>Add product images:</label>
                                        <% for(let i = 0; i < 3; i++) { %>
                                            
                                            <input class="box" type="file" name="images" id="images<%= i %>" required multiple>
                                            <button type="button" class="btn btn-md rounded font-sm hover-up"
                                                    onclick="loadImage('images<%= i %>')">Crop</button>
                                            <img src="" id="showimages<%= i %>"
                                                 style="width: auto; height: 250px; margin-top: 20px ; display: none;"
                                                 alt="">
                                            <button style="display: none;" class="btn btn-warning p-2 px-5 border-2 mt-2"
                                                    type="button" id="saveimages<%= i %>"
                                                    onclick="uploadCroppedImage('images<%= i %>')">Save</button>
                                            <button style="display: none;" class="btn btn-danger p-2 px-5 border-2 mt-2"
                                                    type="button" id="cancelimages<%= i %>">Cancel</button>

                                        <% } %>
                                        
<br>
                                        <label>Price:</label>
                                        <br>
                                        <input class="box" type="text" name="price" id="price">
                                        <span id="priceError" class="error"></span>

                                        <br>
                                        <br>
                                        <label>Stock:</label>
                                        <br>
                                        <input class="box" type="text" name="stock" id="stock">
                                        <span id="stockError" class="error"></span>

                                        <br>
                                        <label>Discount:</label>
                                        <br>
                                        <div class="slidecontainer">
                                            <input type="range" min="1" max="100" value="0" class="slider" id="myRange"
                                                name="discount">
                                            <p id="discountValue">0%</p>
                                        </div>

                                        <br>
                                        <select class="selectpicker" name="active">
                                            <option>Published</option>
                                            <option>Unpublished</option>
                                        </select>
                                        <br>
                                        <br>
                                    </form>
                                </div>
                            </div>

                            <!-- Footer -->
                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-info" onclick="validateFormAndSubmit()">Add Product
                                </button>
                                <button type="button" class="btn btn-outline-info waves-effect"
                                    data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                        <!-- /.Content -->
                    </div>
                </div>

               



                <div>
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#modalAbandonedCart">Add Product</button>

                </div>

            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">

                                            </th>
                                            <th>Product name</th>
                                            <th>Category</th>
                                            <th>Price</th>
                                            <th>Stock</th>
                                            <th>Status</th>
                                            <th>Discount</th>
                                            <th>Active</th>

                                            <!-- <th>Remove Product</th> -->
                                            <th class="text-end">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% findProduct.forEach((product)=> { %>
                                            <tr>
                                                <td><img src="/uploads/<%= product.coverimage.filename %>" width="30px"
                                                        height="30px"></td>
                                                <td>
                                                    <input type="hidden" id="edit-id" value="<%= product._id %>">

                                                    <span class="view-mode">
                                                        <%= product.name %>
                                                    </span>
                                                    <input class="edit-mode" type="text" id="edit-name"
                                                        value=" <%= product.name %>" style="display: none;">

                                                </td>
                                                <td>
                                                    <span class="view-mode">
                                                        <%= product.category.category %>
                                                    </span>
                                                    <input class="edit-mode" type="text" id="edit-category"
                                                        value=" <%= product.category.category %>"
                                                        style="display: none;">
                                                </td>
                                                <td>
                                                    <span class="view-mode">
                                                        <%= product.price%>
                                                    </span>
                                                    <input class="edit-mode" type="text" id="edit-price"
                                                        value="<%= product.price%>" style="display: none;">
                                                </td>
                                                <td><span class="view-mode">
                                                        <%= product.stock%>
                                                    </span>
                                                    <input class="edit-mode" type="text" id="edit-stock"
                                                        value="<%= product.stock%>" style="display: none;">

                                                </td>
                                                <td>
                                                    <% if (product.stock < 0) { %>
                                                        Out of Stock
                                                        <% } else if (product.stock < 10) { %>
                                                            Running Low
                                                            <% } else { %>
                                                                In Stock
                                                                <% } %>
                                                </td>
                                                <td>
                                                    <span class="view-mode">
                                                        <%= product.discount%>
                                                    </span>
                                                    <input class="edit-mode" type="text" id="edit-discount"
                                                        value="<%= product.discount%>"
                                                        style="display: none; width: 50px;">

                                                </td>
                                                <td
                                                    style="<%= (product.active === false) ? 'color: red;' : 'color:green' %>">
                                                    <%= (product.active===true)? 'Published' : 'Unpublished' %>
                                                </td>
                                                <!-- <td ><button class="<%= (product.active === true) ? 'bg-danger' : 'bg-success' %> p-2 w-50 text-light" style="border-radius: 20px;" id="productstatus<%= product._id %>" onclick="productstatus('<%=product._id%>')" id="statusButton<%=product._id%>" ><%= (product.active === true) ? 'Unpublish' : 'Publish' %></button></td>
                                    <td><button onclick ="removeProduct('<%= product._id%>')"><span id="boot-icon" class="bi bi-trash" style="font-size: 25px; color: rgb(255, 0, 0); -webkit-text-stroke-width: 0px;"></span></button>
                                    </td> -->

                                                <td class="text-end">
                                                    <div class="dropdown">
                                                        <a href="#" data-bs-toggle="dropdown"
                                                            class="btn btn-light rounded btn-sm font-sm"> <i
                                                                class="material-icons md-more_horiz"></i> </a>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item edit-info-button"
                                                                 href="/admin/editproduct?productId=<%=product._id%>">Edit
                                                                info</a>
                                                            <a class="dropdown-item text-danger"
                                                                onclick="productstatus('<%=product._id%>')"
                                                                id="statusButton<%=product._id%>" href="#">
                                                                <%= (product.active===true) ? 'Unpublish' : 'Publish' %>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <button class="save-button" style="display: none;">Save</button>
                                                    <button class="cancel-button"
                                                        style="display: none;">Cancel</button><!-- dropdown //end -->
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>

                                <!-- Edit Form (initially hidden) -->
                                <!-- <div id="edit-form" style="display: none;">
    <input id="name-input" type="text" placeholder="Name">
    <input id="email-input" type="text" placeholder="Email">
    <button id="save-btn">Save</button>
</div> -->
                            </div> <!-- .col// -->
                        </div> <!-- .row // -->
                    </div> <!-- card body .// -->
                </div> <!-- card .// -->
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
  

    <script src="/javascripts/product.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js"></script>
    <script>


        let cropper;





        function loadImage(id) {
            alert('crop btn called')
            const input = document.getElementById(id);
            const canvas = document.getElementById(`show${id}`);

            const file = input.files[0];
            console.log(file);

            if (file && file.type.startsWith('image/')) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    canvas.src = e.target.result;
                    document.getElementById(`save${id}`).style.display = 'block';
                    document.getElementById(`cancel${id}`).style.display = 'block';

                    if (cropper) {
                        cropper.destroy();
                    }

                    cropper = new Cropper(canvas, {
                        viewMode: 2,
                    });
                };

                reader.readAsDataURL(file);
            } else {
                canvas.src = '';
                if (cropper) {
                    cropper.destroy();
                }
            }
        }

        function uploadCroppedImage(id) {
            if (!cropper) {
                console.error('Cropper not initialized.');
                return;
            }

            const canvas = cropper.getCroppedCanvas();

            if (canvas) {
                canvas.toBlob((blob) => {
                    const fileName = 'cropped_image.jpg';
                    const file = new File([blob], fileName, { type: 'image/jpeg' });
                    const input = document.getElementById(id);

                    if (DataTransfer && FileList) {
                        const dataTransfer = new DataTransfer();
                        dataTransfer.items.add(file);
                        input.files = dataTransfer.files;
                    } else {
                        console.error('FileList and DataTransfer are not supported in this browser.');
                    }

                    const showImg = document.getElementById(`show${id}`);
                    showImg.src = URL.createObjectURL(blob);

                    cropper.destroy();
                    document.getElementById(`save${id}`).style.display = 'none';
                    document.getElementById(`cancel${id}`).style.display = 'none';
                });
            }
        }

    </script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('productForm');
        form.addEventListener('submit', function (event) {
            
            const productName = document.getElementById('productName').value;
            const price = document.getElementById('price').value;
            const stock = document.getElementById('stock').value;

            if (!productName.trim()) {
                alert('Product name is required');
                event.preventDefault();
            }

            if (isNaN(price) || parseFloat(price) <= 0) {
                alert('Price must be a positive number');
                event.preventDefault();
            }

            if (isNaN(stock) || parseInt(stock) < 0) {
                alert('Stock must be a non-negative integer');
                event.preventDefault();
            }

        });

        const rangeSlider = document.getElementById('myRange');
        const discountValue = document.getElementById('discountValue');
        discountValue.textContent = rangeSlider.value + '%';

        rangeSlider.addEventListener('input', function () {
            discountValue.textContent = this.value + '%';
        });
    });

    function validateFormAndSubmit() {
        var productName = document.getElementById('productName').value;
        if (!productName.trim()) {
            alert('Please enter a product name.');
            return;
        }

        document.getElementById('productForm').submit();
    }
</script>


     <%- include('adminPartials/adminFooter') %>