<!doctype html>
<html lang="en">

<!-- Head -->
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/javascripts/productsearch.js"></script>
  <!-- Page Meta Tags-->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="">

  <!-- Custom Google Fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&family=Roboto:wght@300;400;700&display=auto"
    rel="stylesheet">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
  <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- Vendor CSS -->
  <link rel="stylesheet" href="/assets/css/libs.bundle.css" />

  <!-- Main CSS -->
  <link rel="stylesheet" href="/assets/css/theme.bundle.css" />

  <!-- Fix for custom scrollbar if JS is disabled-->
  <noscript>
    <style>
      /**
          * Reinstate scrolling for non-JS clients
          */
      .simplebar-content-wrapper {
        overflow: auto;
      }

      
    </style>
  </noscript>

  <!-- Page Title -->
  <title>BassHeads</title>

</head>
<body class="">

    <!-- Navbar -->
    <!-- Navbar -->
   <!-- Navbar -->
<!-- Navbar -->
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white flex-column border-0  ">
    <div class="container-fluid">
        <div class="w-100">
            <div class="d-flex justify-content-between align-items-center flex-wrap">

                <!-- Logo-->
                <a class="navbar-brand fw-bold fs-3 m-0 p-0 flex-shrink-0 order-0" href="./index.html">
                    <div class="d-flex align-items-center">
                        <svg class="f-w-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.53 72.26"><path
                                d="M10.43,54.2h0L0,36.13,10.43,18.06,20.86,0H41.72L10.43,54.2Zm67.1-7.83L73,54.2,68.49,62,45,48.47,31.29,72.26H20.86l-5.22-9L52.15,0H62.58l5.21,9L54.06,32.82,77.53,46.37Z"
                                fill="currentColor" fill-rule="evenodd"/></svg>
                    </div>
                </a>
                <!-- / Logo-->

                <!-- Navbar Icons-->
                <ul class="list-unstyled mb-0 d-flex align-items-center order-1 order-lg-2 nav-sidelinks">

                    <!-- Categories Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <!-- Iterate through categories and generate links -->
                            <% categories.forEach((category) => { %>
                              
                                <a class="dropdown-item"
                                    href="/displayproducts?categoryId=<%= category._id %>"><%= category.category %></a>
                            <% }); %>
                        </div>
                    </li>
                    <!-- / Categories Dropdown -->

                    <!-- Mobile Nav Toggler-->
                    <li class="d-lg-none">
                        <span class="nav-link text-body d-flex align-items-center cursor-pointer"
                            data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                            aria-expanded="false" aria-label="Toggle navigation"><i
                                class="ri-menu-line ri-lg me-1"></i> Menu</span>
                  <!-- /Mobile Nav Toggler-->
                  <li class="d-none d-sm-block">
                    <div class="input-group">
                        <input type="search" class="form-control rounded" placeholder="Search" id="search_box" aria-label="Search" aria-describedby="search-addon" />
                        <button type="button" class="btn btn-dark" data-mdb-ripple-init>search</button>
                    </div>
                    <div style="position: absolute;z-index:999;width:304px;" id="resultsContainer" ></div>
                </li>
                

                    <!-- Navbar Search-->
                    <!--<li class="d-none d-sm-block"> -->
                        <!-- <span class="nav-link text-body search-trigger cursor-pointer">Search <i
                            class="ri-search-line ri-lg"></i> </span> -->

                        <!-- Search navbar overlay-->
                        <!-- <div class="navbar-search d-none" >
                            <div class="input-group mb-3 h-100">
                                <span class="input-group-text px-4 bg-transparent border-0"><i
                                        class="ri-search-line ri-lg"></i></span>
                                <input type="text" class="form-control text-body bg-transparent border-0"
                                    placeholder="Enter your search terms..." id="search_box">
                                <span
                                    class="input-group-text px-4 cursor-pointer disable-child-pointer close-search bg-transparent border-0"><i
                                        class="ri-close-circle-line ri-lg"></i></span>
                            </div>

                        </div>
                        <div class="search-overlay" style="margin-top: 95px;" id="resultsContainer"></div> -->

                        <!-- / Search navbar overlay-->

                  
                    <!-- /Navbar Search-->

                    
                    <!-- Navbar Login-->
                    <li class="ms-1 d-none d-lg-inline-block dropdown">
                        <a class="nav-link text-body" href="/account">PROFILE</a>
                    </li>

    
                <!-- /Navbar Login-->
                    <!-- Navbar Cart Icon-->
                    <li class="ms-1 d-inline-block position-relative dropdown-cart">
                        <a class="nav-link text-body" href="/cart">BAG</a>

                    </li>
                    <!-- /Navbar Cart Icon-->

                </ul>
                <!-- Navbar Icons-->                

                <!-- Main Navigation-->
                <div class="flex-shrink-0 collapse navbar-collapse navbar-collapse-light w-auto flex-grow-1 order-2 order-lg-1"
                    id="navbarNavDropdown">

                    <!-- Menu-->
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <!-- Add your menu items here if needed -->
                    </ul>
                    <!-- / Menu-->

                </div>
                <!-- / Main Navigation-->

            </div>
        </div>
    </div>
</nav>




