/* OTP Verification Form */
/* OTP Verification Form Styles */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background to overlay content */
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.otp-form {
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  max-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Close Button Styles */
.close-button {
  width:25px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #007BFF;
  color:white;
  background-color: red;
}

/* Add any additional OTP form styling as needed */



.otp-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#otpInput {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#verifyButton {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#verifyButton:hover {
  background-color: #0056b3;
}
