/* body{
    background-image: url('/images/usermanage6.webp');
    background-repeat: no-repeat;
    background-size: cover;
}h1{
    margin-left: 200px;
    color:white;
   
} */
/* .proBtn{
    
    background-color: black;
    color: white;
   
    width:150px;
    height:60px;
} */
input{
 width:500px;
 height:50px;
}
/* table{
    height:50px;

} */

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background to overlay content */
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .addproduct_form {
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Close Button Styles */
  .close-button {
    width:25px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #007BFF;
    color:white;
    background-color: red;
  }
  
  /* Add any additional OTP form styling as needed */
  
  
  
  .cat-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* #productInput {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
   */
  #submitButton {
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #submitButton:hover {
    background-color: #0056b3;
  }

  #closeButton{
    background-color: crimson;
    color:white;
    float:right;
  }
  #closeButton:hover{
   background-color: orangered;
  }




/* .dropdown {
    margin-left:500px;
    display: block;
    position: relative;
    width: 32%;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
} */
/* .dropDownSearch {
  margin-right:500px;
  display: block;
  position: relative;
  width: 32%;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
} */
label{
  float:left;
  font-weight: bold;
}

.box{
  height:30px;
}




.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}