<script src="/adminassets/js/vendors/jquery-3.6.0.min.js"></script>
<script src="/adminassets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/adminassets/js/vendors/select2.min.js"></script>
<script src="/adminassets/js/vendors/perfect-scrollbar.js"></script>
<script src="/adminassets/js/vendors/jquery.fullscreen.min.js"></script>
<!-- Main Script -->
<script src="/adminassets/js/main.js" type="text/javascript"></script>
</body>

</html>